[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/minibufexpl.vim"]
	path = bundle/minibufexpl.vim
	url = git@github.com:fholgado/minibufexpl.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/LanguageClient-neovim"]
	path = bundle/LanguageClient-neovim
	url = git@github.com:autozimu/LanguageClient-neovim.git
[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "bundle/vim-jsx-typescript"]
	path = bundle/vim-jsx-typescript
	url = git@github.com:peitalin/vim-jsx-typescript.git
[submodule "bundle/vista.vim"]
	path = bundle/vista.vim
	url = git@github.com:liuchengxu/vista.vim.git
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = git@github.com:lervag/vimtex.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/vim"]
	path = bundle/vim
	url = git@github.com:dracula/vim.git
[submodule "monokai.nvim"]
	path = monokai.nvim
	url = git@github.com:tanvirtin/monokai.nvim.git
[submodule "bundle/monokai.nvim"]
	path = bundle/monokai.nvim
	url = git@github.com:tanvirtin/monokai.nvim.git
[submodule "bundle/playground"]
	path = bundle/playground
	url = git@github.com:nvim-treesitter/playground.git
[submodule "dap-adapters/vscode-chrome-debug"]
	path = dap-adapters/vscode-chrome-debug
	url = git@github.com:microsoft/vscode-chrome-debug.git
